form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 85%;
    margin: 0 auto;
}

form input, form textarea {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-large);
}

textarea {
    height: 12rem;
    resize: none;
}

input:focus, textarea:focus {
    background-color: var(--light-blue);
}

div#colors {
    display: flex;
    justify-content: space-between;
}

div#colors label {
    border-radius: var(--border-radius-large);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 6rem;
}

div#colors label:hover {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 2px solid var(--light-blue);
}

#formButtons {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    div#colors {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 1rem;
        margin: 0 auto;
    }
}